<html>
<body>
	<H1>Hello to MotiGroup, ${name}.</H1>
	<H2>Because sometimes you just want to say Thank you!</H2>
	<TABLE border=1 width="100%">
		<tr>
			<td>
				<H3> Grade somebody: </H3>
				<FORM name="grade" method = "POST" action="grade.html">
				<table width="100%">
					<tr>
						<td><u>Username</u></td>
						<td><u>First Name</u></td>
						<td><u>Last Name</u></td>
					</tr>
					% for i in range(0, len(people)):
					<tr>
						<td>
							% if name != people[i]['username']: 
							<input type="radio" name="person" value="${people[i]['username']}">${people[i]['username']} </td>
						<td>${people[i]['firstName']} </td>
						<td>${people[i]['lastName']}</td>
							% endif
					</tr>
					% endfor
					<tr>
						<td>
						Grade: 
							<select name="grade">
							% for i in range(5, 101, 5):
							<option value="${i}">${i}</option>
							% endfor
							</select>
							<input type="submit" value="Go"/>
						</td>
						<td></td>
						<td></td>
			</table>
				</FORM>
				
			</td>
			<td>
				<H3>Previously awarded grade</H3>
				<% total = 0 %>
				% for i in range(0, len(grade)):
				<li>${grade[i]['To']} - ${grade[i]['Grade']}</li>
				<% total += grade[i]['Grade'] %>
				% endfor
				<li>Total: ${total}</li>

			</td>
			<td>
				<h3>You work for the followin companies</h3>
				% for i in range(0,len(items)):
				<li>${items[i]['company_name']}</li>
				% endfor
			</td>
		</tr>
	</TABLE>
</body>
</html>
